@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---<Custom Styles start>--- */
body {
    background-color: #0f0f0f;
    color: #e5e5e5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
/* 隱藏 Scrollbar 但保留功能 */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* ---<Custom Styles end>--- */